<div class="fields_with_errors">
  <% unless @ingredient.errors.empty? %>
    <%= @ingredient.errors.full_messages %>
  <% end %>
</div>

<h2><%= @recipe.name %></h2>

<ul>
  <li>
    <%= @ingredient.name %>
  </li>
</ul>
