.square {
    float:left;
    position:relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    background-color: #1E392A;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    font-size: 40px;
    text-align: center;
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}
a {
  color: #828081;
}

a:hover {
    color: #E9C893;
}

@media only screen and (max-width: 773px) {
  .square {
    width: 90%;
  }
}

@media only screen and (max-width: 535px) {
  .content {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    font-size: 25px;
  }
}
