<% if form_errors.errors.any? %>
  <div class="fields_with_errors">
    <h3>Your form couldn't be processed because of the follow errors:</h3>
    <ul>
      <% form_errors.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
